.movie {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.movie .movie-title {
  flex-grow: 1;
}

.movie .movie-year {
  color: red;
  font-size: 0.5rem;
}
