.movie {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.movie .movie-title {
  flex-grow: 1;
}

.movie .movie-year {
  color: red;
  font-size: 0.5rem;
}

.alert {
  background-color: red;
  border: 0;
  color: wheat;
  border-radius: 3px;
}

.alignItemCenter {
  display: flex;
  align-items: center;
}

.error {
  color: red;
  font-size: 0.7rem;
}

h1 {
  margin-left: 5px;
}
